
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1>Gym Records</h1>


<div class="body-content">
  <div class="row">
    <div class="col-lg-4">
      <h2><i class="fa fa-code"></i></h2>
      <p>Input data from your lifts to track your progress over time</p>
    </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-edit"></i> WTForms</h2>
      <p>Open source code for this site can be found on my github here</p>
      <p><a href="http://github.com/cianconway" class="btn btn-default" href="#">GitHub &raquo;</a></p>
    </div>
  </div><!-- /.row -->
</div>
{% endblock %}